* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Main Styling */
html,body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

/* Utility Classes */
.container {
  margin: 0;
  max-width: 100%;
  max-height: 1190px;
  overflow: auto;
  padding: 0;
 
}
.showcase {
  background: url('../images/WalpBright-2.png') repeat center center/cover;
  height: 960px;
  width: 2110px;
  margin: 0;
  align-items: center;
}
@media (max-width: 640px)
.jumbotron {

}

.jumbotron {
  padding: 2rem 1rem;
  background-color: #e9ecef;
  border-radius: .3rem;
  margin: 0;
}

h2 {
  text-align: left;
  margin-left: 100px;
}

.card  {
  width: 150px;
  margin-left: 100px;
  margin-top: 2rem;
  margin-right: 0;
  display: inline-block;
  margin-top: 30px;
  background-image: 20px;
  align-items: center;
  
}
.card .card-header {
  padding: 10px;
}

.card-active {
  border: 5px solid gold; 
}

.card-body {
  padding: 2px;
}
h3  {
  font-size: 1em;
}

.winTitle {
  color: green;
}

.normalTitle {
  color: black;
}

.loseTitle {
  color: red;
}

.oponentDefeated {
  color: yellowgreen;
}

.btn-attack {
  margin-left: 100px;
}

.player {
 border : 3px solid green;
}

.oponent {
  border : 3px solid red;

}
